/* change css*/
body,html{
	background: #ebeff2;
}
.clbody{
	background: #ffffff;
    border-radius: 5px;
    border: 1px solid rgba(54, 64, 74, 0.05);
    padding: 20px;
    background-clip: padding-box;
    margin-top: 20px;
}
.clhead{
	background: rgba(238, 238, 238, 0.36);
    padding: 20px 20px 20px 0;
    border-radius: 4px;
    border: 1px solid #eee;
}
.disablebtn a{
    color: #999 !important;
}
.disablebtn2 i{
    background: #ddd !important;
}
.disablebtn2 i:hover{
    color: #aaa !important;
    background: #ddd !important;
}
.disfontcolor p,.disfontcolor h3{
    color: #bbb !important;
}
/* bootstrap add*/
.form-group{
	margin-left: 10px;
}
table.table-bordered tbody th, table.table-bordered tbody td{
	max-width: 180px;
}
.ant-time-picker-input {
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  width: 100%;
  height: 38px;
  cursor: text;
  font-size: 12px;
  line-height: 1.5;
  color: #666;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  -webkit-transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-time-picker-large .ant-time-picker-input {
    padding: 6px 14px;
    height: 38px;
}
